<nav class="navbar navbar-default">
          
 <div class='header'>
      <table><tr class='spacer'>
            <label class='spacer'> </label>
      </tr><tr>
      <td>
            <div class=dbutton>
            <button type="button" (click)="toggleSidebar()" class=' ssb ' >
               
                   <i  class="glyphicon glyphicon-align-justify bhide"></i> 
             </button>
            </div>
      </td>
                              
      <td class="text-align: center">
             <label class=header-label >&nbsp;  User: &nbsp;</label> <label class=header-text >  {{this.user.currentuser}}</label>
      </td>
      <td class="right">
             <button type="button" class="header-btn" >Logout</button>
      </td>
       </tr></table>
        
</div>
</nav> 