<div class='footer'>
<table><tr>
<td>
    <button type="button"  class="footer-btn"  >               
        <i  class="glyphicon glyphicon-home footer-icon"></i> 
  </button>
</td>

<td>
    <button type="button"  class="footer-btn"  >               
        <i  class="glyphicon glyphicon-search footer-icon"></i> 
  </button>
</td>

<td>
    <button type="button"  class="footer-btn"  >               
        <i  class="glyphicon glyphicon-wrench footer-icon"></i> 
  </button>
</td>

 <td>
    <button type="button"  class="footer-btn"  >               
        <i  class="glyphicon glyphicon-phone-alt footer-icon"></i> 
  </button>
</td>
<td>
     
 </td> 
</tr></table>
</div>

