<div   [@fadeInAnimation]=''  class="scrollpage">
  <div class="scrollpage">
<label class='pageTitle'>Page Title</label>
<br>
<hr>

<table>
  
    <tr ><td width='100' >
        <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/> 
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
        <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/> 
 
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
        <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/> 
 
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
              <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/>   
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

    <tr ><td width='100' >
        <img src='./assets/background.jpg' style='background-color:white' width=80 height=80 class='signature'/> 
    </td>
    <td  >
    <label class='t-title'>This Item's Title </label><br>
    <label class='t-body'> This is the item data all in a long row</label><br>
    <label class='t-body'> This is another item data all in a long row</label><br>
    <label class='t-footer'> This is the footer </label><br>
    <br>
    </td></tr>

   
                                                                                              

</table>
<div class='botton-space'></div>
</div>

</div>