*{	margin: 0;
	padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: calibri, sans-serif;
   
    height:100vh;
}
.mainPanel {
    display: flex;
    align-items: stretch;
    height: calc(100vh - 66px -66px);
}
.Cbuttons {
    width:100px;
    margin-left: 5px !important;
    color:white !important;
  }
